SECRET_KEY=ضع_مفتاح_سري_طويل_جدا
DEBUG=False
ALLOWED_HOSTS=example.com,www.example.com,127.0.0.1,localhost
TIME_ZONE=Asia/Aden
CORS_ALLOW_ALL_ORIGINS=False

DB_ENGINE=postgres
DB_NAME=masar
DB_USER=masar
DB_PASSWORD=كلمة_مرور_قوية
DB_HOST=db
DB_PORT=5432
